//max-width
$maxWidth-desktop: 1110;
$maxWidth-mobile: 327;

$Orange: #fb7413;
$White: #ffffff;
$LightGray: #959eac;
$MediumGray: #7c8798;
$DarkBlue: #252d37;
$VeryDarkBlue: #121417;
$gradientBG: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
